{% extends "base.html" %}
{% block title %}Inicio{% endblock %}
{% block contenido %}
<div class="container">
    <h2 class="titulo">Menú principal</h2>

    <div class="card-menu">
        <a href="{{ url_for('flujo_productos') }}" class="btn-menu">
            🌀 <span>Flujo de Productos</span>
        </a>
        <a href="{{ url_for('productos') }}" class="btn-menu">
            📦 <span>Productos</span>
        </a>
        <a href="{{ url_for('alertas') }}" class="btn-menu">
            ⚠️ <span>Alertas</span>
        </a>
        <a href="{{ url_for('reportes') }}" class="btn-menu">
            📊 <span>Reportes</span>
        </a>
        <a href="{{ url_for('devoluciones') }}" class="btn-menu">
            ↩️ <span>Devoluciones</span>
        </a>
    </div>
</div>
{% endblock %}
